<web-app>
<servlet>
   <servlet-name>AC</servlet-name>
   <servlet-class>AddCookieServlet</servlet-class>
</servlet>
<servlet-mapping>
   <servlet-name>AC</servlet-name>
   <url-pattern>/AC</url-pattern>
</servlet-mapping>

<servlet>
   <servlet-name>GC</servlet-name>
   <servlet-class>GetCookiesServlet</servlet-class>
</servlet>
<servlet-mapping>
   <servlet-name>GC</servlet-name>
   <url-pattern>/GC</url-pattern>
</servlet-mapping>

</web-app>
