body {
    text-align: center;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

.header {
    background:black;
    color: white;
    font-weight: bold;
    height: 50px;
    width: 100%;
    font-size: 40px;
}

thead {
    font-weight: bold;
    color: red;
}

tr:hover {
    background: black;
    color: white;
}

.spacer {
    margin-top: 150px;
}

.table-view {
    width: 60%;
    margin: auto;
}

tr {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

footer {
    margin-top: 200px;
    background:  black;
    color: white;
    font-weight: bold;
    font-size: 30px;
}