<web-app>
<servlet>
<servlet-name>SendMail</servlet-name>
<servlet-class>SendMail</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>SendMail</servlet-name>
<url-pattern>/SendMail</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>GetMail</servlet-name>
<servlet-class>GetMail</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>GetMail</servlet-name>
<url-pattern>/GetMail</url-pattern>
</servlet-mapping>
</web-app>