<web-app>
<servlet>
   <servlet-name>Se1</servlet-name>
   <servlet-class>ServletOne</servlet-class>
</servlet>
<servlet-mapping>
   <servlet-name>Se1</servlet-name>
   <url-pattern>/Se1</url-pattern>
</servlet-mapping>

<servlet>
   <servlet-name>Se2</servlet-name>
   <servlet-class>ServletTwo</servlet-class>
</servlet>
<servlet-mapping>
   <servlet-name>Se2</servlet-name>
   <url-pattern>/Se2</url-pattern>
</servlet-mapping>

</web-app>
